<h2>Doctor</h2>
<p *ngIf="doctor$ | async as doctor">
  Name: {{doctor.firstName}} {{doctor.lastName}} <br>
  Email: {{doctor.doctorEmailAddress}} <br>
  Phone number: {{doctor.phoneNumber}} <br>
  Administrator: {{doctor.isAdmin ? "yes":"No"}}
</p>
<div *ngIf="doctor$ | async as doctor">
  <button class="btn btn-secondary margin-left" routerLink= "/doctor-list">Back</button>
  <button class="btn btn-danger margin-left" (click)="deleteDoctor()">Delete</button>
  <button class="btn btn-primary margin-left" routerLink="/doctor-update/{{doctor.doctorEmailAddress}}">Update</button>
</div>


