
<div class="topnav">
  <a id="title">Lægehuset Nr. Nebel</a>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/doctor-list" routerLinkActive="active">Doctors</a>
  <a *ngIf="role == 'Doctor' || role == 'Administrator'" routerLink="/patient-list" routerLinkActive="active">Patients</a>
  <a routerLink="/appointment-list" routerLinkActive="active">Appointments</a>
  <a *ngIf="UserName == null" routerLink="/login" routerLinkActive="active">login</a>
  <a *ngIf="UserName !== null" routerLink="/login" routerLinkActive="active">logout</a>
  <div >

    <a id="detailLink" *ngIf="role == 'Doctor' || role == 'Administrator'" routerLink="/doctor-detail/{{UserName}}" routerLinkActive="active">Dine oplysninger</a>
    <a id="detailLink" *ngIf="role == 'Patient'" routerLink="/patient-detail/{{UserName}}" routerLinkActive="active">Dine oplysninger</a>
  <p style="padding-right: 20px; color: white; line-height: 5px; padding-top: 12px" align="right">Hej {{firstName}}!</p>
  <p style="padding-right: 20px; color: white; line-height: 5px" align="right">Din rolle er {{role}}</p>

  </div>
</div>
