<div class="col-md-6 col-md-offset-3">
  <h2>Create Doctor</h2>
  <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Doctor's First name</label>
      <input type="text" formControlName="firstName" class="form-control" required/>
      <div *ngIf="firstName.invalid && submitted" class="alert-danger">
        <div *ngIf="firstName.errors.required">A valid first name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Doctor's Last name</label>
      <input type="text" formControlName="lastName" class="form-control" required/>
      <div *ngIf="lastName.invalid && submitted" class="alert-danger">
        <div *ngIf="lastName.errors.required">A valid last name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Doctor's Email address</label>
      <input type="text" formControlName="doctorEmailAddress" class="form-control" required/>
      <div *ngIf="emailAddress.invalid && submitted" class="alert-danger">
        <div *ngIf="emailAddress.errors.required">A valid email address is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Doctor's Phone number</label>
      <input type="text" formControlName="phoneNumber" class="form-control" required/>
      <div *ngIf="phoneNumber.invalid && submitted" class="alert-danger">
        <div *ngIf="phoneNumber.errors.required">A valid phone number is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Doctor's Password</label>
      <input type="text" formControlName="password" class="form-control" required/>
      <div *ngIf="password.invalid && submitted" class="alert-danger">
        <div *ngIf="password.errors.required">A valid password is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Is Administrator</label>
      <input id="CheckBoxAlignment" type="checkbox" formControlName="isAdmin" class="form-control"/>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Create</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
    <div *ngIf="error" class="alert-danger">{{error}}</div>
    <div class="form-group">
      <button class="btn btn-primary" routerLink= "/doctor-list">Back</button>
    </div>
  </form>
</div>
