<div class="col-md-6 col-md-offset-3">
<form [formGroup]="UpdateForm" (ngSubmit)="onSubmit()" *ngIf="patient$ | async">
  <div class="form-group">
    <label>patientFirstName</label>
    <input type="text" formControlName="patientFirstName" class="form-control" required/>
    <div *ngIf="patientFirstName.invalid && submitted" class="alert-danger">
      <div *ngIf="patientFirstName.errors.required">patientFirstName is required</div>
    </div>
    <div class="form-group">
      <label>patientLastName</label>
      <input type="text" formControlName="patientLastName" class="form-control" required/>
      <div *ngIf="patientLastName.invalid && submitted" class="alert-danger">
        <div *ngIf="patientLastName.errors.required">patientLastName is required</div>
      </div>
      <div class="form-group">
        <label>patientPhone</label>
        <input type="text" formControlName="patientPhone" class="form-control" required/>
        <div *ngIf="patientPhone.invalid && submitted" class="alert-danger">
          <div *ngIf="patientPhone.errors.required">patientPhone is required</div>
        </div>
        <div class="form-group">
          <label>patientEmail</label>
          <input type="text" formControlName="patientEmail" class="form-control" required/>
          <div *ngIf="patientEmail.invalid && submitted" class="alert-danger">
            <div *ngIf="patientEmail.errors.required">patientEmail is required</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Update</button>
    <button class="btn btn-primary margin-left" routerLink= "/patient-detail/{{this.Id}}">Back</button>
  </div>
  <div class="alert-danger" *ngIf="error">{{error}}</div>
</form>
</div>

