<div class="col-md-6 col-md-offset-3">
  <h2>Edit Doctor</h2>
  <form [formGroup]="UpdateForm" (ngSubmit)="onSubmit()" *ngIf="Doctor$ | async">
    <div class="form-group">
      <label>First name</label>
      <input type="text" formControlName="firstName" class="form-control" required/>
      <div *ngIf="firstName.invalid && submitted" class="alert-danger">
        <div *ngIf="firstName.errors.required">A valid first name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Last name</label>
      <input type="text" formControlName="lastName" class="form-control" required/>
      <div *ngIf="lastName.invalid && submitted" class="alert-danger">
        <div *ngIf="lastName.errors.required">A valid last name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Email address</label>
      <input type="text" formControlName="doctorEmailAddress" class="form-control" required/>
      <div *ngIf="emailAddress.invalid && submitted" class="alert-danger">
        <div *ngIf="emailAddress.errors.required">A valid email address is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Phone number</label>
      <input type="text" formControlName="phoneNumber" class="form-control" required/>
      <div *ngIf="phoneNumber.invalid && submitted" class="alert-danger">
        <div *ngIf="phoneNumber.errors.required">A valid phone number is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Administrator</label>
      <input type="checkbox" formControlName="isAdmin" class="form-control"/>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">update</button>
    </div>
    <div *ngIf="errormessage" class="alert-danger">{{errormessage}}</div>
    <div class="form-group">
      <button class="btn btn-primary" routerLink= "/doctor-list">Back</button>
    </div>
  </form>
</div>
