<div class="col-md-6 col-md-offset-3">
<form [formGroup]="patientForm" (ngSubmit)="save()">
  <div class="form-group">
    <label>patientFirstName</label>
    <input type="text" formControlName="patientFirstName" class="form-control" required/>
    <div *ngIf="patientFirstName.invalid && submitted" class="alert-danger">
      <div *ngIf="patientFirstName.errors.required">patientFirstName is required</div>
    </div>
    <div class="form-group">
      <label>patientLastName</label>
      <input type="text" formControlName="patientLastName" class="form-control" required/>
      <div *ngIf="patientLastName.invalid && submitted" class="alert-danger">
        <div *ngIf="patientLastName.errors.required">patientLastName is required</div>
      </div>
      <div class="form-group">
        <label>patientPhone</label>
        <input type="text" formControlName="patientPhone" class="form-control" required/>
        <div *ngIf="patientPhone.invalid && submitted" class="alert-danger">
          <div *ngIf="patientPhone.errors.required">patientPhone is required</div>
        </div>
        <div class="form-group">
          <label>patientEmail</label>
          <input type="text" formControlName="patientEmail" class="form-control" required/>
          <div *ngIf="patientEmail.invalid && submitted" class="alert-danger">
            <div *ngIf="patientEmail.errors.required">patientEmail is required</div>
          </div>
          <div class="form-group">
            <label>patientCPR</label>
            <input type="text" formControlName="patientCPR" class="form-control" required/>
            <div *ngIf="patientCPR.invalid && submitted" class="alert-danger">
              <div *ngIf="patientCPR.errors.required">patientCPR is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>password</label>
            <input type="text" formControlName="password" class="form-control" required/>
            <div *ngIf="password.invalid && submitted" class="alert-danger">
              <div *ngIf="password.errors.required">password is required</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary margin-left">Create</button>
    <button class="btn btn-secondary margin-left" routerLink= "/patient-list">Back</button>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </div>
  <div *ngIf="error" class="alert-danger">{{error}}</div>
</form>
</div>
