
<div *ngIf="patient">
<p >
  CPR: {{patient.patientCPR}} <br>
  Name: {{patient.patientFirstName}} {{patient.patientLastName}} <br>
  Email: {{patient.patientEmail}} <br>
  phone: {{patient.patientPhone}} <br>
  </p>
</div>
<button class="btn btn-primary margin-left" routerLink="/patient-update/{{patient.patientCPR}}">Update</button>
<button class="btn btn-danger margin-left" (click)="deletePatient()">Delete</button>
<button class="btn btn-secondary margin-left" routerLink="/patient-list/">Back</button>
