
<div class="col-md-6 col-md-offset-3">
  <h2>Appointments</h2>
<div [formGroup]="FilterForm">
<div class="parent">
  <div class="child inline-block-child margin-left">
    <div class="form-group">
      <label>Search Text</label>
      <input type="text" formControlName="searchText" class="form-control" />
    </div>
  </div>
    <div class="child inline-block-child margin-left">
    <div class="form-group">
      <label>Search Field</label>
      <br>
      <select formControlName="searchField" class="form-control">
        <option [value]="'DurationInMin'">Duration In Minutes</option>
        <option [value]="'Description'">Description</option>
        <option [value]="'DoctorEmailAddress'">Doctor's Email Address</option>
        <option [value]="'PatientCpr'">Patient's CPR number</option>
        <option [value]="''">Unassigned</option>
      </select>
    </div>
  </div>
</div>
<div class="parent">
  <div class="child inline-block-child margin-left">
    <label>From Date</label>
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control " placeholder="mm-dd-yyyy"
             name="dp" [(ngModel)]="orderStartDateTime" ngbDatepicker #d1="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
      </div>
    </div>
  </div>
</form>
  </div>

  <div class="child inline-block-child margin-left">
    <label>To Date</label>
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="mm-dd-yyyy"
             name="dp" [(ngModel)]="orderStopDateTime" ngbDatepicker #d2="ngbDatepicker">
      <div class="input-group-append">
        <button  class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
      </div>
    </div>
  </div>
</form>
</div>
</div>
<div class="parent">
  <div class="child inline-block-child margin-left">
    <div class="form-group">
      <label>Order Property</label>
      <br>
      <select formControlName="orderProperty" class="form-control">
        <option [value]="'DurationInMin'">Duration In Minutes</option>
        <option [value]="'PatientCpr'">Patient's CPR</option>
        <option [value]="'AppointmentDateTime'">Appointment Date</option>
        <option [value]="''">Unassigned</option>
      </select>
    </div>
  </div>
  <div class="child inline-block-child margin-left">
    <div class="form-group">
      <label>Order Direction</label>
      <br>
      <select formControlName="orderDirection" class="form-control">
        <option [value]="'ASC'">Ascending</option>
        <option [value]="'DEC'">Descending</option>
        <option [value]="''">Unassigned</option>
      </select>
    </div>
  </div>
  <div class="child inline-block-child margin-left" style="position: relative; bottom: 2px">
    <button class="btn btn-primary" (click)="search()">Search</button>
  </div>
</div>
</div>
<div *ngIf="appointment$ | async else loading">
  <ul>
    <li *ngFor=" let Appointment of appointments "  >
      <p><a routerLink="/appointment-detail/{{ Appointment.appointmentId }}/list">{{ fixDate(Appointment.appointmentDateTime) }}, {{ Appointment.durationInMin }} min.</a> </p>
    </li>
  </ul>
  <div [formGroup]="FilterForm">
  <div class="one-liner">
    <div *ngIf="1 < currentPage">
      <button class="btn btn-primary" (click)="search(1)">{{1}}</button>
    </div>
    <div *ngIf="2 < currentPage">
      <button class="btn btn-primary" (click)="search(2)">{{2}}</button>
    </div>
    <div *ngIf="3 < currentPage">
      <button class="btn btn-primary" (click)="search(3)">{{3}}</button>
    </div>
    <div *ngIf="currentPage > 1">
      <button class="btn btn-primary" (click)="search(currentPage - 1)">Previous</button>
    </div>
    <div style="font-weight: bold; margin-left: 10px; margin-right: 10px">{{currentPage}}</div>
    <div *ngIf="currentPage < maxPages">
      <button class="btn btn-primary" (click)="search(currentPage + 1)">Next</button>
    </div>
    <div *ngIf="maxPages - 2> currentPage">
      <button class="btn btn-primary" (click)="search(maxPages - 2)">{{maxPages - 2}}</button>
    </div>
    <div *ngIf="maxPages - 1 > currentPage">
      <button class="btn btn-primary" (click)="search(maxPages - 1)">{{maxPages - 1}}</button>
    </div>
    <div *ngIf="maxPages > currentPage">
      <button class="btn btn-primary" (click)="search(maxPages)">{{maxPages}}</button>
    </div>
  </div>
  <div>Showing page {{currentPage}} of {{maxPages}}</div>
  <label>
    Items Per Page:
    <select (ngModelChange)="search(currentPage)" formControlName="itemsPrPage" class="form-group" >
      <option  [value]="5">5</option>
      <option  [value]="10">10</option>
      <option  [value]="25">25</option>
      <option  [value]="50">50</option>
    </select>
  </label>
</div>
</div>
<button *ngIf="role == 'Doctor' || role == 'Administrator'" class="btn btn-primary" routerLink="/appointment-creator">Add appointment</button>
<h1 *ngIf="!appointments || appointments.length < 1">
  No appointments Found
</h1>
<div class="alert-danger" *ngIf="error">{{error}}</div>

<ng-template #loading>
  <p>Loading data...</p> <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</ng-template>
</div>
