<h2>Appointments</h2>
<div class="parent">
  <div class="child inline-block-child">
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control " placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="datePicker1Model" ngbDatepicker #d1="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
      </div>
    </div>
  </div>
</form>
  </div>

  <div class="child inline-block-child">
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="datePicker2Model" ngbDatepicker #d2="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
      </div>
    </div>
  </div>
</form>
</div>
</div>

<div *ngIf=" !err && appointment$ | async ">
  <ul>
    <li *ngFor=" let Appointment of appointments "  >
      <p><a routerLink="/appointment-detail/{{ Appointment.appointmentId }}">{{ Appointment.appointmentDateTime }} , {{ Appointment.durationInMin }}</a> </p>
    </li>
  </ul>
</div>
<button class="btn btn-primary" routerLink="/appointment-creator">Add appointment</button>
<p *ngIf="err">oh no... {{err}}</p>
